{% extends "oscar/communication/emails/base.html" %}
{% load i18n %}
{% load url_tags %}

{% block tbody %}

<tr>
    <td class="content-block">
        {% trans "We are very pleased to have you among our customers. If you are looking for high quality materials, it is the right place." %}
    </td>
</tr>

<tr>
    <td class="content-block">
        {% blocktrans with name=site.name %}You're receiving this e-mail because you registered to our website. {% endblocktrans %}
    </td>
</tr>
<tr>
    <td class="content-block">
        <a href="{% absolute_url site.domain homepage_url %}" class="btn-primary">{% trans "Go to Homepage" %}</a>
    </td>
</tr>

{% endblock %}
